h1{
    background-color: dodgerblue;
}
a{
    text-decoration: solid;
    color: black;
}
a:hover{
    color:dodgerblue;
    text-decoration: dotted;
}
a:visited{
    text-decoration: none;

}
a:active{
    color: black;
}
